* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --color-primary-dark: rgb(35, 72, 148);
  --color-primary-light: rgb(175, 206, 221);

  --color-secondary-dark: rgb(30, 30, 30);
  --color-secondary-light: rgb(105, 105, 105);

  --bg-btn: #219f95;

  --border-radius-md: 6px;
  --border-radius-lg: 8px;
}

.container {
  width: 100%;
  background-color: blueviolet;
  padding: 5rem;
}
